.bg-img {
  /* The image used */
  background-image: url(home.png);

  /* Control the height of the image */
  height: 500px;
  width: 100%;
    
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container
{
    position: relative;
    top: 60px;
    left: 0;
}

.container h1
{
    font-size: 80px;
    color: white;
    line-height: 70px;
}

.container input[type="text"] {
    width: 400px;
    height: 40px;
}

.container button[type="submit"]
{
    height: 35px;
    width: 400px;
    background-color: #ff6600;
    border-style: solid;
    border-width: thick;
    border-color: #ff6600;
    font-weight: 700;
    color: white;
    border-radius: 8px;
}

.boloes_destaque
{
    background-color: azure;
    height: 500px;
    background-size: cover;
}

#destaque
{
    text-align: center;
    position: relative;
    top: 20px;
}

#panel
{
    height: 300px;
    margin: auto;
    border-radius: 8px;
    background-color: #00579F;
}

#panel2
{
    background-color: #00579F;
    border-style: solid;
    border-radius: 8px;
    height: 150px;
    margin: auto;
    float: right;
}

#jogos
{
    position: absolute;
    top: 1150px;
    left: 100px;
}

#results
{
    margin: auto;
    position: relative;
    left: 150px;
    top: 15px;
}

#ultimos_jogos
{
    position: relative;
    left: -10px;
    top: 10px;
    font-size: 40px;
    color: white;
    font-weight: 500;
    line-height: 40px;
}

#principal
{
    border-style: dashed;
    height: 300px;
    margin: auto;
}

#secundario
{
    border-style: dotted;
    height: 200px;
    margin: auto;
}