*{
    font-family: Montserrat, sans-serif;
}

.active-nav * {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #00579f;
}

.navbar-light a {
    font-size: 20px;
    font-weight: bolder;
}

#conteudo {
    margin-top: 120px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    top: 2.5%;    
}

.carousel-control-prev-icon {
    left: 30%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300579f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    right: 30%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300579f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

thead th {
    text-align: center;
}

.proxJogos {
    text-align: center;
}

.infoJogos {
    font-size: 10px;
    height: 13px;
}

.tab-content > .active {
    display: inline;
}

.nav-link.active {
    background-color: #343a40 !important;
    border-bottom: 5px solid #00579f;
}

.smpadding {
    padding-bottom: 3px !important;
    padding-right: 0px !important;
    padding-top: 3px !important;
    padding-left: 0px !important;
}

.containersempadding > .container {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-pills {
    font-size: 11.6px;
}

.col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.page-link:focus {
    box-shadow: none !important;
}